<!--
  Generated template for the ModalInstalacionesDthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Formulario Instalación DTH</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="instalacionesDth" (ngSubmit)="enviar()">
    <ion-list>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.folio_servicio === null}">
        <ion-label text-wrap>FOLIO DE SERVICIO *</ion-label>
        <ion-input formControlName="folio_servicio" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.ot_servicorp === null}">
        <ion-label text-wrap>OT CLARO *</ion-label>
        <ion-input formControlName="ot_servicorp" text-right type="number"></ion-input>
      </ion-item>
      <ion-list-header color="primary">
        Atención Cliente - Respuestas Cliente
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_1 === null}">
        <ion-label text-wrap>Técnico se identificó con credencial, nombre, apellido *</ion-label>
        <ion-select formControlName="resp_1" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_2 === null}">
        <ion-label text-wrap>Vestían uniforme y correctamente ordenados *</ion-label>
        <ion-select formControlName="resp_2" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_3 === null}">
        <ion-label text-wrap>Explicaron el detalle del trabajo antes de comenzar *</ion-label>
        <ion-select formControlName="resp_3" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_4 === null}">
        <ion-label text-wrap>Respondieron sus dudas durante la actividad ejecutada *</ion-label>
        <ion-select formControlName="resp_4" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_5 === null}">
        <ion-label text-wrap>Efectuaron capacitación del uso de los equipos *</ion-label>
        <ion-select formControlName="resp_5" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_6 === null}">
        <ion-label text-wrap>Quedaron todos los servicios funcionando correctamente, al término de la actividad *
        </ion-label>
        <ion-select formControlName="resp_6" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_7 === null}">
        <ion-label text-wrap>Dejaron el lugar limpio al concluir la actividad *</ion-label>
        <ion-select formControlName="resp_7" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_8 === null}">
        <ion-label text-wrap>Técnico explicó no desenchufar equipos de electricidad (Decos-C.M.EMTA) *</ion-label>
        <ion-select formControlName="resp_8" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_9 === null}">
        <ion-label text-wrap>Entrega clave de acceso wifi y personalizada a cliente</ion-label>
        <ion-select formControlName="resp_9" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_10 === null}">
        <ion-label text-wrap>Capacitó en el uso de control remoto del decodificador *</ion-label>
        <ion-select formControlName="resp_10" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="primary">
        Instalación Exterior - Revisión Control Calidad
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_11 === null}">
        <ion-label text-wrap>Fijación de antena (4 pernos) *</ion-label>
        <ion-select formControlName="resp_11" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_12 === null}">
        <ion-label text-wrap>Conector LNB protegido *</ion-label>
        <ion-select formControlName="resp_12" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_13 === null}">
        <ion-label text-wrap>Antena debidamente firma (Sin movimientos) *</ion-label>
        <ion-select formControlName="resp_13" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_14 === null}">
        <ion-label text-wrap>Altura acometida en norma (4,5 Mts)</ion-label>
        <ion-select formControlName="resp_14" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_15 === null}">
        <ion-label text-wrap>La acometida es nueva (no reutilizada)</ion-label>
        <ion-select formControlName="resp_15" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_16 === null}">
        <ion-label text-wrap>Ficha de abonado en TAP rotulada correctamente</ion-label>
        <ion-select formControlName="resp_16" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_17 === null}">
        <ion-label text-wrap>Loop de mantención *</ion-label>
        <ion-select formControlName="resp_17" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_18 === null}">
        <ion-label text-wrap>Ruteo y cableado correcto (40 cms distancia entre grampas) *</ion-label>
        <ion-select formControlName="resp_18" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_19 === null}">
        <ion-label text-wrap>Fijacion de splitters *</ion-label>
        <ion-select formControlName="resp_19" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_20 === null}">
        <ion-label text-wrap>Tiene pasamuros exterior *</ion-label>
        <ion-select formControlName="resp_20" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_21 === null}">
        <ion-label text-wrap>Tiene loop de goteo bota agua *</ion-label>
        <ion-select formControlName="resp_21" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="primary">
        Instalación Interior - Revisión Control Calidad
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_22 === null}">
        <ion-label text-wrap>Los niveles están dentro del rango *</ion-label>
        <ion-select formControlName="resp_22" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_23 === null}">
        <ion-label text-wrap>Ruteo y grampeado correctos (40 cms distancia entre grampas) *</ion-label>
        <ion-select formControlName="resp_23" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_24 === null}">
        <ion-label text-wrap>Curva de cableado mayor o igual a 90 grados *</ion-label>
        <ion-select formControlName="resp_24" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_25 === null}">
        <ion-label text-wrap>Conector armado y prensado correctamente *</ion-label>
        <ion-select formControlName="resp_25" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_26 === null}">
        <ion-label text-wrap>Uso conector decompresión Claro *</ion-label>
        <ion-select formControlName="resp_26" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Cable PIN es nuevo</ion-label>
        <ion-select formControlName="resp_27" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_28 === null}">
        <ion-label text-wrap>Conectores correctamente torqueados *</ion-label>
        <ion-select formControlName="resp_28" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Tiene filtro HUM en instalación de TV</ion-label>
        <ion-select formControlName="resp_29" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_30 === null}">
        <ion-label text-wrap>Tiene cable HDMI en decodificador y TV HD *</ion-label>
        <ion-select formControlName="resp_30" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Deja equipo modo nat (CM-Emta)</ion-label>
        <ion-select formControlName="resp_31" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Certifica / cambia canal de tranasmisión de wifi</ion-label>
        <ion-select formControlName="resp_32" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Se instala roseta FTTH correctamente</ion-label>
        <ion-select formControlName="resp_33" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="primary">
        Revisión de Equipos
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_34 === null}">
        <ion-label text-wrap>Dirección correcta *</ion-label>
        <ion-select formControlName="resp_34" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_35 === null}">
        <ion-label text-wrap>Técnico visitó domicilio *</ion-label>
        <ion-select formControlName="resp_35" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_36 === null}">
        <ion-label text-wrap>HFC/DTH *</ion-label>
        <ion-select formControlName="resp_36" interface="popover">
          <ion-option value="DTH">DTH</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_37 === null}">
        <ion-label text-wrap>Decos Std *</ion-label>
        <ion-input formControlName="resp_37" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_38 === null}">
        <ion-label text-wrap>Decos HD *</ion-label>
        <ion-input formControlName="resp_38" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_39 === null}">
        <ion-label text-wrap>Cantidad de equipos corresponde a contrato *</ion-label>
        <ion-select formControlName="resp_39" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="primary">
        Niveles DTH
      </ion-list-header>
      <ion-list-header text-center color="grey">
        Decodificador Principal
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_40 === null}">
        <ion-label text-wrap>1 TP (12092) N. Señal *</ion-label>
        <ion-input formControlName="resp_40" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_41 === null}">
        <ion-label text-wrap>1 TP (12092) N. Calidad *</ion-label>
        <ion-input formControlName="resp_41" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_42 === null}">
        <ion-label text-wrap>1 TP (12092) C/N *</ion-label>
        <ion-input formControlName="resp_42" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_43 === null}">
        <ion-label text-wrap>1 TP (12172) N. Señal *</ion-label>
        <ion-input formControlName="resp_43" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_44 === null}">
        <ion-label text-wrap>1 TP (12172) N. Calidad *</ion-label>
        <ion-input formControlName="resp_44" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_45 === null}">
        <ion-label text-wrap>1 TP (12172) C/N *</ion-label>
        <ion-input formControlName="resp_45" text-right type="number"></ion-input>
      </ion-item>
      <ion-list-header text-center color="grey">
        Decodificador Segundo
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>1 TP (12092) N. Señal</ion-label>
        <ion-input formControlName="resp_46" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12092) N. Calidad</ion-label>
        <ion-input formControlName="resp_47" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12092) C/N</ion-label>
        <ion-input formControlName="resp_48" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12172) N. Señal</ion-label>
        <ion-input formControlName="resp_49" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12172) N. Calidad</ion-label>
        <ion-input formControlName="resp_50" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12172) C/N</ion-label>
        <ion-input formControlName="resp_51" text-right type="number"></ion-input>
      </ion-item>
      <ion-list-header text-center color="grey">
        Decodificador Tercero
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>1 TP (12092) N. Señal</ion-label>
        <ion-input formControlName="resp_52" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12092) N. Calidad</ion-label>
        <ion-input formControlName="resp_53" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12092) C/N</ion-label>
        <ion-input formControlName="resp_54" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12172) N. Señal</ion-label>
        <ion-input formControlName="resp_55" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12172) N. Calidad</ion-label>
        <ion-input formControlName="resp_56" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1 TP (12172) C/N</ion-label>
        <ion-input formControlName="resp_57" text-right type="number"></ion-input>
      </ion-item>
      <ion-list-header text-center color="grey">
        Decodificador HD
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_58 === null}">
        <ion-label text-wrap>1 TP (12092) N. Señal *</ion-label>
        <ion-input formControlName="resp_58" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_59 === null}">
        <ion-label text-wrap>1 TP (12092) N. Calidad *</ion-label>
        <ion-input formControlName="resp_59" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_60 === null}">
        <ion-label text-wrap>1 TP (12092) C/N *</ion-label>
        <ion-input formControlName="resp_60" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_61 === null}">
        <ion-label text-wrap>1 TP (12172) N. Señal *</ion-label>
        <ion-input formControlName="resp_61" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_62 === null}">
        <ion-label text-wrap>1 TP (12172) N. Calidad *</ion-label>
        <ion-input formControlName="resp_62" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_63 === null}">
        <ion-label text-wrap>1 TP (12172) C/N *</ion-label>
        <ion-input formControlName="resp_63" text-right type="number"></ion-input>
      </ion-item>
      <ion-list-header color="primary">
        Niveles HFC
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>TX</ion-label>
        <ion-select formControlName="resp_64" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>RX</ion-label>
        <ion-select formControlName="resp_65" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>SNR</ion-label>
        <ion-select formControlName="resp_66" interface="popover">
          <!-- <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option> -->
          <ion-option value="N/A">N/A</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="primary">
        Observaciones
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_67 === null}">
        <ion-label text-wrap>Observaciones *</ion-label>
        <ion-input formControlName="resp_67" text-right type="text"></ion-input>
      </ion-item>
      <ion-list-header color="primary">
        Conformidad Control Certificación Calidad
      </ion-list-header>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_68 === null}">
        <ion-label text-wrap>Se genera vista técnica por garantía *</ion-label>
        <ion-select formControlName="resp_68" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_69 === null}">
        <ion-label text-wrap>Se realiza reparación menor *</ion-label>
        <ion-select formControlName="resp_69" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_70 === null}">
        <ion-label text-wrap>Reutilizada instalación *</ion-label>
        <ion-select formControlName="resp_70" interface="popover">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color="primary">
        Consumo de Materiales
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>1004311 - Conectores RG-06 F a compresión</ion-label>
        <ion-input formControlName="resp_71" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1008635 - Cable coaxial doble malla RG-6 blanco sin mensajero (indoor)(1)</ion-label>
        <ion-input formControlName="resp_72" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004177 - Acopladores direccional interior 1 vía 9dB</ion-label>
        <ion-input formControlName="resp_73" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004178 - Acopladores direccional interior 1 vía 12dB</ion-label>
        <ion-input formControlName="resp_74" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004271 - Grampa blanca Telefónica Nº 7 (pin interior)</ion-label>
        <ion-input formControlName="resp_75" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004174 - Spliter 3 vías</ion-label>
        <ion-input formControlName="resp_76" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004171 - Amarra cables nylon 4,8 x 15,6</ion-label>
        <ion-input formControlName="resp_77" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004167 - Gomas para Taps</ion-label>
        <ion-input formControlName="resp_78" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004179 - Grampa RG-6 blancas</ion-label>
        <ion-input formControlName="resp_79" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004180 - Grampa RG-6 negra</ion-label>
        <ion-input formControlName="resp_80" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004812 - Bloqueador de voltaje</ion-label>
        <ion-input formControlName="resp_81" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004183 - Atenuador Fam 3</ion-label>
        <ion-input formControlName="resp_82" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004184 - Atenuador Fam 6</ion-label>
        <ion-input formControlName="resp_83" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004185 - Atenuador Fam 8</ion-label>
        <ion-input formControlName="resp_84" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004186 - Atenuador Fam 10</ion-label>
        <ion-input formControlName="resp_85" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004173 - Splitter 2 vías (4dB)</ion-label>
        <ion-input formControlName="resp_86" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1003508 - Conector RJ-45</ion-label>
        <ion-input formControlName="resp_87" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1003507 - Conector RJ-11</ion-label>
        <ion-input formControlName="resp_88" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004270 - Ficha abonado (marca acometida) rojo</ion-label>
        <ion-input formControlName="resp_89" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1003553 - Roseta telefónica RJ-11</ion-label>
        <ion-input formControlName="resp_90" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004181 - Conectores ground block</ion-label>
        <ion-input formControlName="resp_91" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004518 - Control remoto caja digital</ion-label>
        <ion-input formControlName="resp_92" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1008608 - Cable teléfono plano 4 conductores</ion-label>
        <ion-input formControlName="resp_93" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004409 - Pilas alcalinas AAA</ion-label>
        <ion-input formControlName="resp_94" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004526 - Cable video componente 3 conexiones</ion-label>
        <ion-input formControlName="resp_95" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004836 - Cable HDMI</ion-label>
        <ion-input formControlName="resp_96" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004233 - Cable audio video RCA</ion-label>
        <ion-input formControlName="resp_97" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004176 - Acopladores direccional interior 1 vía 6dB</ion-label>
        <ion-input formControlName="resp_98" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004288 - LNB</ion-label>
        <ion-input formControlName="resp_99" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1008635 - Cable coaxial blanco</ion-label>
        <ion-input formControlName="resp_100" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004311 - Conectores</ion-label>
        <ion-input formControlName="resp_101" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004672 - LNB dual</ion-label>
        <ion-input formControlName="resp_102" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004191 - LNB quad</ion-label>
        <ion-input formControlName="resp_103" text-right type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>1004648 - Splitter</ion-label>
        <ion-input formControlName="resp_104" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_105 === null}">
        <ion-label text-wrap>Cable Negro *</ion-label>
        <ion-input formControlName="resp_105" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_106 === null}">
        <ion-label text-wrap>Cable Blanco *</ion-label>
        <ion-input formControlName="resp_106" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_107 === null}">
        <ion-label text-wrap>Conectores *</ion-label>
        <ion-input formControlName="resp_107" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_108 === null}">
        <ion-label text-wrap>Grampas *</ion-label>
        <ion-input formControlName="resp_108" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_109 === null}">
        <ion-label text-wrap>Splitter *</ion-label>
        <ion-input formControlName="resp_109" text-right type="number"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'invalid': instalacionesDth.value.resp_110 === null}">
        <ion-label text-wrap>DCs *</ion-label>
        <ion-input formControlName="resp_110" text-right type="number"></ion-input>
      </ion-item>
      <ion-list-header color="primary">
        Código de Barra
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>Código Decodificador</ion-label>
        <a ion-button item-end color="primary" *ngIf="cod_decodificador === ''" (click)="getCodigoVerificador()">Tomar Código</a>
        <div ion-button item-end color="primary" *ngIf="cod_decodificador !== ''" (click)="getCodigoVerificador()">{{cod_decodificador}}</div>
      </ion-item>
    </ion-list>
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col col>
            <a ion-button icon-only block *ngIf="images.length !== 10" (click)="getPicture()">{{images.length}}/10
              <ion-icon name="camera"></ion-icon></a>
            <a ion-button icon-only block *ngIf="images.length === 10">{{images.length}}/10<ion-icon name="camera">
              </ion-icon></a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 *ngFor="let image of images">
            <img [src]="DomSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+image)">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col>
            <button ion-button block type="submit" [disabled]="!instalacionesDth.valid">Enviar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </form>
</ion-content>
