<!--
  Generated template for the MantencionDthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" hideBackButton="true" class="toolbar statusbar-padding">
    <div class="toolbar-background"></div>
    <ion-buttons end class="bar-buttons">
      <button icon-only ion-button class="bar-button bar-button-default disable-hover" (click)="logout()">
        <span class="button-inner">
          <ion-icon name="log-out"></ion-icon>
        </span>
        <div class="button-effect"></div>
      </button>
    </ion-buttons>
    <div class="toolbar-content">
      <ion-title class="title">
        <div class="toolbar-title">Instalaciones DTH</div>
      </ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-item color="primary">Formularios</ion-item>
    <!-- <ion-item text-center *ngFor="let formulario of formularios" (click)="detail(formulario)"> -->
    <ion-item text-center *ngFor="let formulario of formularios">
      <p>Certificación Mantención DTH</p>
      <p>{{formulario.create_time | date: 'medium'}}</p>
    </ion-item>
  </ion-list>

</ion-content>
