<ion-header>

  <ion-navbar color="primary">
    <ion-title>Instalaciones HFC</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list *ngIf="formularios.length > 0; else sinFormularios">
    <ion-item color="primary">Formularios</ion-item>
    <ion-item text-center *ngFor="let formulario of formularios" (click)="detail(formulario)">
      <p>Certificación Instalación HFC</p>
      <p>{{formulario.create_time | date: 'medium'}}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ng-template #sinFormularios>
  <no-forms></no-forms>
</ng-template>
